<div class="container">
  <% if user_signed_in? %>
    <div class="navbar navbar-light bg-light">
      <span class="navbar-text">
        Welcome <%= current_user.email %>
      </span>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-outline-danger ml-2' %>
    </div>
  <% else %>
    <div class="navbar navbar-light bg-light">
      <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-outline-primary mr-2' %>
      <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-outline-success' %>
    </div>
  <% end %>
</div>