<div class="container">
  <% if user_signed_in? %>
    <div class="navbar navbar-light bg-light">
      <span class="navbar-text">
        Welcome <%= current_user.name %>
      </span>
    </div>
  <% end %>
</div>